## Detecting harassment by Perspective API

In [5]:
from googleapiclient import discovery
import json

In [6]:
import pandas as pd

In [7]:
API_KEY = 'AIzaSyB0-0idXUo77m2rwzBJm1hr5hLjcsYDxts'

In [8]:
client = discovery.build(
  "commentanalyzer",
  "v1alpha1",
  developerKey=API_KEY,
  discoveryServiceUrl="https://commentanalyzer.googleapis.com/$discovery/rest?version=v1alpha1",
  static_discovery=False,
)

### Example

In [9]:
analyze_request = {
  'comment': {'text':'Why would a grown ass man in a dress be scared of women? I’m sorry but this is bullshit. And your .2% number needs backup - at best this is *convicted* sex offenders since we know the vast majority of sexual assault goes unreported. And most MTF do not have surgery, Furthermore, You underestimate how far men will go for a sexual fetish - there are actually eunuch fetishization sites https://www.newsweek.com/florida-sebring-gary-van-ryswy-arrested-botched-home-castration-dark-web-eunuch-fetish-1455396%3famp=1 Thirdly, we’re not just talking about private bathrooms at work we’re talking about public bathrooms as well, whereby any sex offender can pretend to be trans for a day and walk right in. We’re also talking about them in public schools - where girls are made to feel uncomfortable by a likely pre-op penised male presence, which is highly valid.'
  ,
  'text' : 'Can you guarantee without a shadow of a doubt that allowing transwomen, most of whom are pre-op, in public and private bathrooms won’t increase sex crimes of opportunity against women and children?'},
  'requestedAttributes': {'TOXICITY': {}, 'SEVERE_TOXICITY':{}, 'IDENTITY_ATTACK':{}, 'INSULT':{}, 'PROFANITY':{}, 'THREAT':{}}
}

In [10]:
response = client.comments().analyze(body=analyze_request).execute()
print(json.dumps(response, indent=2))

{
  "attributeScores": {
    "THREAT": {
      "spanScores": [
        {
          "begin": 0,
          "end": 197,
          "score": {
            "value": 0.20388012,
            "type": "PROBABILITY"
          }
        }
      ],
      "summaryScore": {
        "value": 0.20388012,
        "type": "PROBABILITY"
      }
    },
    "PROFANITY": {
      "spanScores": [
        {
          "begin": 0,
          "end": 197,
          "score": {
            "value": 0.11167338,
            "type": "PROBABILITY"
          }
        }
      ],
      "summaryScore": {
        "value": 0.11167338,
        "type": "PROBABILITY"
      }
    },
    "INSULT": {
      "spanScores": [
        {
          "begin": 0,
          "end": 197,
          "score": {
            "value": 0.28846177,
            "type": "PROBABILITY"
          }
        }
      ],
      "summaryScore": {
        "value": 0.28846177,
        "type": "PROBABILITY"
      }
    },
    "IDENTITY_ATTACK": {
      "spanScores": [
        {
          "begin": 0,
          "end": 197,
          "score": {
            "value": 0.5569672,
            "type": "PROBABILITY"
          }
        }
      ],
      "summaryScore": {
        "value": 0.5569672,
        "type": "PROBABILITY"
      }
    },
    "SEVERE_TOXICITY": {
      "spanScores": [
        {
          "begin": 0,
          "end": 197,
          "score": {
            "value": 0.16119775,
            "type": "PROBABILITY"
          }
        }
      ],
      "summaryScore": {
        "value": 0.16119775,
        "type": "PROBABILITY"
      }
    },
    "TOXICITY": {
      "spanScores": [
        {
          "begin": 0,
          "end": 197,
          "score": {
            "value": 0.39230084,
            "type": "PROBABILITY"
          }
        }
      ],
      "summaryScore": {
        "value": 0.39230084,
        "type": "PROBABILITY"
      }
    }
  },
  "languages": [
    "en"
  ],
  "detectedLanguages": [
    "en"
  ]
}

In [21]:
fds = pd.read_csv("./data/fds/fds_clean_comments.csv")

In [114]:
fds_example = fds["body"][0:10]

In [39]:
PersAPI_cat = ["TOXICITY", "SEVERE_TOXICITY", "PROFANITY", "INSULT", "THREAT", "IDENTITY_ATTACK"]

In [115]:
fds_example = fds_example.to_dict()

In [130]:
def PersAPIBulk(dict_type_data): 
    for each in dict_type_data:
        score_all = pd.DataFrame()
        analyze_request={'comment': {'text': dict_type_data[i]}, 
        'requestedAttributes' : {"TOXICITY": {}, 'SEVERE_TOXICITY':{}, 'IDENTITY_ATTACK':{}, 'INSULT':{}, 'PROFANITY':{}, 'THREAT':{}}}
        response = client.comments().analyze(body=analyze_request).execute()
        print(json.dumps(response, indent=2))
        #for each in PersAPI_cat:
        #    six_score = []
        #    each_score = response["attributeScores"][each]["spanScores"][0]['score']['value']
        #    six_score.append(each_score)
        #    six_score_df = pd.DataFrame(six_score)
        #    six_score_t = six_score_df.transpose()
    #score_all = pd.concat([score_all,six_score], axis = 0)

In [131]:
responseBULK = PersAPIBulk(fds_example)

KeyError: 'TOXICITY'

In [95]:
response["attributeScores"]["INSULT"]["spanScores"][0]['score']['value']

0.28846177

In [41]:
len(PersAPI_cat)

6

In [43]:
range(0,5)

range(0, 5)

In [110]:
six_score= []
for each in PersAPI_cat:
    each_score = response["attributeScores"][each]["spanScores"][0]['score']['value']
    six_score.append(each_score)
six_score_df = pd.DataFrame(six_score)
six_score_t = six_score_df.transpose()
six_score_all = pd.concat([six_score_t,six_score_t], axis =0)

In [111]:
six_score_all

          0         1         2         3        4         5
0  0.392301  0.161198  0.111673  0.288462  0.20388  0.556967
0  0.392301  0.161198  0.111673  0.288462  0.20388  0.556967

In [90]:
score_example

[0.39230084, 0.16119775, 0.11167338, 0.28846177, 0.20388012, 0.5569672]

In [87]:
score_example_df = pd.DataFrame(score_example)

In [98]:
score_example_t = score_example_df.transpose()

In [99]:
score_example_t

          0         1         2         3        4         5
0  0.392301  0.161198  0.111673  0.288462  0.20388  0.556967

In [105]:
score_example_df_all = pd.concat([score_example_t,score_example_t], axis =0)

In [106]:
score_example_df_all

          0         1         2         3        4         5
0  0.392301  0.161198  0.111673  0.288462  0.20388  0.556967
0  0.392301  0.161198  0.111673  0.288462  0.20388  0.556967

In [89]:
score_example_df_all

          0
0  0.392301
1  0.161198
2  0.111673
3  0.288462
4  0.203880
5  0.556967
0  0.392301
1  0.161198
2  0.111673
3  0.288462
4  0.203880
5  0.556967

In [72]:
pd.concat([score_example,score_example], axis = 1)

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

In [69]:
score_example

[0.39230084, 0.16119775, 0.11167338, 0.28846177, 0.20388012, 0.5569672, [...]]